VITE_API_URL=http://localhost:8081
VITE_AUTH_SERVICE_URL=http://localhost:8081
VITE_PRODUCT_SERVICE_URL=http://localhost:8082
VITE_CART_SERVICE_URL=http://localhost:8083
VITE_WISHLIST_SERVICE_URL=http://localhost:8084
VITE_ORDER_SERVICE_URL=http://localhost:8085
VITE_PAYMENT_SERVICE_URL=http://localhost:8086
VITE_INVENTORY_SERVICE_URL=http://localhost:8087
VITE_NOTIFICATION_SERVICE_URL=http://localhost:8088
VITE_REPORTING_SERVICE_URL=http://localhost:8089
